<!DOCTYPE html>
<html>
<head>
	<title>BOT </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">

<!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/style12.css">

</head>
<body>

        <div class="chat-form" id="my-chat">

        <div id="chatbox">
            <p class="botText">
                <span>Hi! I'm Chatbot <br/> You can ask me about Panhala </span>
            </p>
        </div>

            <div class="row type-me">
                <div id="userInput">
                  
                 <button style="background: none;border:none;" onclick="startconversation()" id="mic_b">
                    <img src="/static/images/mic.png" height="38" width="25" > 
                </button>
                 <button style="background: none;border:none;" id="mic_stop">
                    <img src="/static/images/mic_d.png" height="38" width="25" > 
                </button>
                 <input id="textInput" type="text" name="msg" placeholder="Message"> 
                 <input id="buttonInput" class="btn btn-primary" type="submit" value="Send">
                </div>
            </div>
        </div>

        <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

        <script type="text/javascript" src="/static/js/get.js"></script>

        <script type="text/javascript" src="/static/js/mic.js"></script>
        

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       
    
 <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
  
</body>
</html>