.container{
	height: 84vh;
}
.bg-image
{
	background: linear-gradient(to bottom left, #0dbbea, #66ff66);
	font-family: Garamond;
	overflow-x: hidden;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 30px;
}
.row{
	display: block;
}
h1
{
color: black;
text-align: center;
font-size: 70px;
font-family:'Tangerine', serif;
}
.bot_tit{
	color:white;
	margin-left: 26px;
	letter-spacing: 2px;
	font-family: 'Fjalla One', sans-serif;
}
.chatbutton{
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 1px 1px 10px 1px white;
	transition: transform 0.2s ease-in;
	animation-iteration-count: 3;
}
.chatbutton:hover{
	background-color: yellow;
	box-shadow: 1px 1px 10px 1px red;
	transform: scale(1.5);
}
.headding_close{
	/* position: absolute; */
	/*background-color: #370648;*/
	right: 111px;
	bottom: 706px;
	margin-top: 30px;
	/* animation: c_flow 0.6s  cubic-bezier(.23,1,.32,1); */
	animation: c_flow 0.6s ;
	/*box-shadow: 0px -2px 5px rgba(0,0.8,0,0.5)*/
	float: right;
	margin-right: 40px;
}
@keyframes c_flow{
	0%{
		bottom:0px;
		opacity: 0.1;
	}
	100%{
		bottom: 706px;
		opacity: 1;
	}
}
.headding_close:hover{
	background-color: red;
}
#b2{
	display: none;
}
#b3{
	display: none;
}

.img-cross{
	height:25px;
	width:25px;
	position: fixed;
	/*right:98px;*/
	/*bottom: 670px;*/

}
.headding1{
	/* position: absolute; */
	text-align: left;
	background-color: #370648;
	right: 70px;
    bottom: 676px;
    height: 8vh;
    /* width: 449px; */
	box-shadow: 0px -2px 5px rgba(0,0.8,0,0.5);
	border-radius: 7px 7px 0px 0px;
	/* animation :flow 0.6s  cubic-bezier(.23,1,.32,1); */
	animation :flow 0.6s;
}

@keyframes flow{
	0%{
		bottom:0px;
		opacity: 0.1;
	}
	100%{
		bottom: 676px;
		opacity: 1;
	}
}
.iframe_chat{
	height: 617px;
	display: none;
	border:none;
	/* box-shadow: 0px 6px 24px 0px #2b302d; */
	animation: f_flow 0.6s;
}
@keyframes f_flow{
	0%{
		/* bottom:-650px; */
		opacity: 0.1;
	}
	100%{
		/* bottom: 60px; */
		opacity: 1;
	}
}
::selection{
	background-color: rgba(255, 255, 0, 0.52);
	color: black;
}


footer{
	position: absolute;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: #35d9af;
    width: 100%;
    z-index: -1;
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 10px;
	padding-top: 10px;
	font-family: "Arial";
}
footer a{
	color: #4c0a7e;
    text-decoration: none;
    font-weight: 600;
}
footer a:hover{
	color: white;
text-decoration: none;
}