::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: white;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb{
    border-radius: 14px;
    background-color: #370648;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
}
#mic_b{
    cursor: pointer;
}
#textInput:focus{
    outline: none;
}
.chat-form{
	display: block;
	/* background-color:#b2ffbea6; */
	background-color: white;
	/*border:1px solid;*/
	/* box-shadow: 0 0 5px rgba(0,0.8,0,0.5); */
	position: absolute;
	/*bottom:100px;*/
	/*right:100px;*/
	height: 550px;
	width:450px;
	padding: 20px;	
	overflow-y: scroll;
	overflow-x:none;
	/*direction: ltr;*/
/*-webkit-overflow-scrolling: touch;*/
overscroll-behavior: smooth;

}

.userText {
color: black;
font-family:  arial;
font-size: 15px;
text-align: right;
line-height: 30px;

}

.userText span {
background-color:#7eaef9c9;
padding: 10px;
border-radius: 20px 25px 0px 20px;
display: inline-block;
box-shadow: 6px 8px 11px -4px rgba(26, 26, 26, 0.5);

}

.botText {
color: black;
font-family: arial;
font-size: 15px;
text-align: left;
line-height: 30px;

}

.botText span{
background-color: #cececeeb;
padding: 10px;
border-radius: 25px 20px 20px 1px;
display: inline-block;
/*box-shadow: 0px 0px 10px 0px;*/
box-shadow: 6px 8px 11px -4px rgba(26, 26, 26, 0.5);
}


#userInput {

width: 100%;
position: fixed;
top: 554px;
left:0px;
}
#textInput {
/* width: 338px; */
width: 297px;
border-style:solid;
border-radius: 50px;
padding: 15px;
/*position: fixed;*/
/*border-bottom: 3px solid #009688;*/
font-family: arial;
font-size: 17px;
}